.App {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* min-height: 100vh;
  width: 100%; */
  text-align: center;
  font-weight: 300;
  overflow: hidden;
}

.App-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.App-header {
  min-height: 8vh;
  background-color: transparent;
  /* box-shadow: 1px 1px 6px black; */
}

h1 {
  margin: 0 0 16px -10vw;
  /* margin-left: -10vw; */
  font-size: 6.4vh;
  font-weight: 300;
  text-shadow: 1px 1px 2px rgb(68, 38, 0);
}

h2 {
  font-size: 3.7vh;
  font-weight: 300;
  text-shadow: 1px 1px 2px rgb(68, 38, 0);
}

h3 {
  /* margin: 0 -6vw 0 0; */
  margin-right: -15.3vw;
  width: max-content;
  max-width: 90%;
  font-weight: 300;
  text-shadow: 0 0 1px rgb(68, 38, 0);
  /* position: absolute;
  top: 34vh;
  left: 50%;
  transform: translate(-50%, -100%);
  -o-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  -moz-transform: translate(-50%, -100%);
  -webkit-transform: translate(-50%, -100%); */
}

.DrawingCanvas {
  min-height: 84vh;
  background-color: transparent;
}

.DrawingCanvas-wrapper {
  position: relative;
  width: 100%;
  min-height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.DrawArea {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); */
  /* min-height: 16.8vh;
  min-width: 16.8vh; */
  background-color: white;
  box-shadow: 0 0 5px rgb(153, 102, 102);
  max-width: 90%;
}

.Row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  /* min-height: 0.3vh; */
}

.Pixel {
  display: inline-block;
  margin: 0;
  padding: 0;
  /* min-width: 0.3vh;
  min-height: 0.3vh; */
  border: none;
  outline: none;
  cursor: url('./images/drawing-cursor-medium.svg') 8 8, auto;
  /* transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -webkit-transition: background-color 0.1s; */
}

/* .Pixel:hover {
  filter: brightness(50%);
} */

.Toolbar {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 10%;
  left: 0;
  /* width: 4vh; */
  height: 80%;
  border-radius: 0 10px 10px 0;
  box-shadow: 1px 1px 6px rgb(68, 38, 0);
}

.Color {
  position: relative;
  min-width: 5vw;
  border: none;
  outline: none;
  overflow: hidden;
}

.Color:first-of-type {
  border-radius: 0 10px 0 0;
}

.Color:last-of-type {
  border-radius: 0 0 10px 0;
}

.Color-marker {
  position: absolute;
  top: 17%;
  left: -50%;
  display: block;
  width: 33%;
  height: 66%;
  border-radius: 0 100% 100% 0;
  background-color: grey;
  box-shadow: 1px 0 3px black;
  mix-blend-mode: luminosity;
  /* transition: filter 0.25s, -webkit-filter 0.25s;
  -o-transition: filter 0.25s, -webkit-filter 0.25s;
  -moz-transition: filter 0.25s, -webkit-filter 0.25s;
  -webkit-transition: filter 0.25s, -webkit-filter 0.25s; */
  transition: left 0.25s;
  -o-transition: left 0.25s;
  -moz-transition: left 0.25s;
  -webkit-transition: left 0.25s;
}

.Color:hover > .Color-marker {
  left: 0;
  /* border: 1px solid black; */
}

.Color:active, .Color:focus {
  animation-name: darkenOnClick;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  -o-animation-name: darkenOnClick;
  -o-animation-duration: 0.5s;
  -o-animation-iteration-count: 1;
  -moz-animation-name: darkenOnClick;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-name: darkenOnClick;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  /* filter: brightness(80%);
  -webkit-filter: brightness(80%); */
}

.Toolbar-2 {
  position: absolute;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  right: 0;
  height: 40%;
  min-width: 5vw;
  border-radius: 10px 0 0 10px;
}

.Pen {
  position: relative;
  display: block;
  margin: 4px 0;
  height: 50%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px 0 0 10px;
  box-shadow: -1px 1px 6px rgb(68, 38, 0);
  font-size: large;
  /* font-weight: 700; */
  color: saddlebrown;
  background-color: blanchedalmond;
  overflow: hidden;
}

/* .Toolbar-2 button:hover {
  background-color: burlywood;
} */

.Pen-marker {
  position: absolute;
  top: 17%;
  right: -50%;
  display: block;
  width: 33%;
  height: calc(5vh * 0.66);
  border-radius: 100% 0 0 100%;
  background-color: grey;
  box-shadow: -1px 0 3px black;
  mix-blend-mode: luminosity;
  /* transition: filter 0.25s, -webkit-filter 0.25s;
  -o-transition: filter 0.25s, -webkit-filter 0.25s;
  -moz-transition: filter 0.25s, -webkit-filter 0.25s;
  -webkit-transition: filter 0.25s, -webkit-filter 0.25s; */
  transition: right 0.25s;
  -o-transition: right 0.25s;
  -moz-transition: right 0.25s;
  -webkit-transition: right 0.25s;
}

.Pen:hover > .Pen-marker {
  right: 0;
  /* border: 1px solid black; */
}

.Pen:active, .Pen:focus {
  animation-name: darkenOnClick;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  -o-animation-name: darkenOnClick;
  -o-animation-duration: 0.5s;
  -o-animation-iteration-count: 1;
  -moz-animation-name: darkenOnClick;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-name: darkenOnClick;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  /* filter: brightness(80%);
  -webkit-filter: brightness(80%); */
}

.Buttons-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  margin: 32px 0;
}

.DialogButton {
  /* width: calc(50% - 4px); */
  width: 100%;
  padding: calc(1rem + 0.5vw);
  margin: 2px;
  font-size: medium;
  border: none;
  border-radius: 8px;
  outline: none;
  box-shadow: 1px 1px 3px rgb(153, 102, 102);
  transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
}

.DialogButton:active, .DialogButton:focus {
  /* animation-name: click;
  animation-duration: 0.25s;
  animation-iteration-count: 2;
  animation-timing-function: ease-out;
  animation-direction: alternate; */
  animation-name: scaleOnClick;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  -o-animation-name: scaleOnClick;
  -o-animation-duration: 0.25s;
  -o-animation-iteration-count: 1;
  -moz-animation-name: scaleOnClick;
  -moz-animation-duration: 0.25s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-name: scaleOnClick;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-iteration-count: 1;
}

.SubmitButton {
  /* margin-left: -6vw; */
  background-color: green;
  color: blanchedalmond;
}

.SubmitButton:hover {
  background-color: darkgreen;
}

.CancelButton {
  /* margin-right: -6vw; */
  background-color: red;
  color: blanchedalmond;
}

.CancelButton:hover {
  background-color: darkred;
}

/* .SubmitButton:active {
  transform: scale(1.1);
} */

.DrawingCanvas-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 0 16px rgb(153, 102, 102);
}

.DrawingCanvas-dialog h3 {
  margin: 32px 0 0 0;
  width: 100%;
  text-shadow: none;
}

.Message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Message h2 {
  text-shadow: none;
}

.Message div {
  color: grey;
}

/* .DrawingCanvas-dialog .DialogButton {
  width: 100%;
} */

.LoadingImage {
  margin-top: 40px;
  height: 14vh;
  display: block;
  animation-name: rotation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  -o-animation-name: rotation;
  -o-animation-duration: 1s;
  -o-animation-iteration-count: infinite;
  -moz-animation-name: rotation;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-name: rotation;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}

.App-loadingImage {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5vh 0 0 -7vh;
  /* transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); */
}

.DrawingCanvas-dialog .LoadingImage {
  /* width: 50px; */
  height: 50px;
  display: none;
}

.App-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 8vh;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* box-shadow: 1px 1px 6px black; */
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-o-keyframes rotation {
  from {
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotation {
  from {
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

/* @keyframes click {
  from {
    transform: scale(1.0);
    -o-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
  to {
    transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
} */

@keyframes scaleOnClick {
  0% {
    transform: scale(1.0);
    -o-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
  50% {
    transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
  100% {
    transform: scale(1.0);
    -o-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@-o-keyframes scaleOnClick {
  0% {
    transform: scale(1.0);
    -o-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
  50% {
    transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
  100% {
    transform: scale(1.0);
    -o-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@-moz-keyframes scaleOnClick {
  0% {
    transform: scale(1.0);
    -o-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
  50% {
    transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
  100% {
    transform: scale(1.0);
    -o-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@-webkit-keyframes scaleOnClick {
  0% {
    transform: scale(1.0);
    -o-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
  50% {
    transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
  100% {
    transform: scale(1.0);
    -o-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@keyframes darkenOnClick {
  0% {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
  }
  50% {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
  }
  100% {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
  }
}

@-o-keyframes darkenOnClick {
  0% {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
  }
  50% {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
  }
  100% {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
  }
}

@-moz-keyframes darkenOnClick {
  0% {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
  }
  50% {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
  }
  100% {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
  }
}

@-webkit-keyframes darkenOnClick {
  0% {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
  }
  50% {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
  }
  100% {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
  }
}
